@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@font-face {
  font-family: MontserratSemiBold;
  src: url(fonts/MontserratSemiBold.otf);
}
@font-face {
  font-family: MontserratSemiBoldItalic;
  src: url(fonts/MontserratSemiBoldItalic.otf);
}
@font-face {
  font-family: HaboroSansNormRegular;
  src: url(fonts/HaboroSansNormRegular.otf);
}

@font-face {
  font-family: HansboroSansItalic;
  src: url(fonts/HansboroSansItalic.otf);
}

@font-face {
  font-family: HeartyFont;
  src: url(fonts/HeartFont.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(fonts/MontserratRegular.otf);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #006FD7;
  box-shadow: 0 5px rgba (0,0,0,.1);
  padding: 10px 150px 10px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header.sticky {
  background-color: #006fd7; /* Background color on scroll */
  transition: .5s;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  position: relative;
  float: left;
  list-style: none;
}

header .navbar ul li a{
  font-size: 15px;
  margin-top: -10px;
  padding: 18px 20px 3px;
  color: white;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

header .navbar ul li a:before{
  content: '';
  background: #fff;
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navbar ul li a:hover:before{
  width: 100%;
  background: #72b5f3;
}
header .navbar ul li ul li a{
  font-size: 15px;
  padding: 18px;
  color: #006FD7;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 350px;
  background: #ffffff;
  display: none;
  border-radius: 2px;
}

header .navbar ul li ul a{
  color: #006fd7;
  font-weight: 500;
}

header .navbar ul li ul a:hover{
  color: #006FD7;
}

header .navbar ul li ul li{
  width: 100%;
}

header .navbar ul li:hover > ul{
  display: initial;
}



@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
    scale: (0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.image-overlay{
  animation: fade-up 2s;
}



@media (max-width: 1150px) {

  header{
    padding: 20px;
    background-color: #006FD7;
}

header .navbar {
  background: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    overflow-y: auto; /* Add overflow property */
    max-height: calc(100vh - 100px); /* Set maximum height to fill remaining viewport */
  }


header .navbar ul li{
    width: 100%;
  }

  header .navbar ul li a{
    background: white;
    color: #222;
    font-size: 1.2em;
    margin: 20px;
}

header .navbar ul li ul li a{
  font-size: 20px;
}

header .navbar ul li ul{
    position: relative;
    width: 100%;
  }

.menu-btn {
    background: url(/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }

  .menu-btn.active ~ .navbar {
    display: initial;
  }
}
  /* ------------------------------------------------------------------------------------------ */

  .firstsection {
    width: 100%;
    height: 100vh;
  }
  
  .image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/resources/Images/can\ 3.jpg);
    background-attachment: fixed;
  }
  
  .image-overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  }

  .image-overlay h2{
    margin-bottom: 10px;
    text-align: center;
  }

  .readmore-button {
    border-radius: 2px;
    border: none;
    width: 150px;
    padding: .7rem .7rem;
    font-weight: 600;
    background: #006fd7;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .readmore-button:hover {
    transform: scale(1.1);
  }

  @media (max-width: 1040px){
    .image-overlay {
        font-size: 50px;
        justify-content: center;
        align-items: center;
        padding-right: 0px; /* Add padding to the right */
      }
  
      .image-overlay .p-2{
          padding-right: 0px; /* Add padding to the right */
        }
  }

  @media (max-width: 768px) {

    .image-overlay {
      font-size: 40px;
      justify-content: center;
      align-items: center;
      padding-right: 0px; /* Add padding to the right */
    }

    .image-overlay .p-2{
        padding-right: 0px; /* Add padding to the right */
      }
    
  }
  
  @media (max-width: 480px) {
    .image-overlay {
      font-size: 30px;
    }
  }

  @media (max-width: 310px) {
    .image-overlay {
      font-size: 20px;
    }
  }
/* -------------------------------------------------------------------------------------------- */
/*  Image container */

#image-container {
  position: relative;
  display: block;
}

#image-container img {
  max-width: 100%;
  height: 200px;
}

.overlay-text-image {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  text-align: right;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
}

.overlay-text-image h1 {
  color: white;
  text-align: left;
}

#special-programs h1 {
  text-align: center;
  padding-top: 40px;
  color: #006fd7;
  padding-bottom: 40px;
  font-size: 30px;
}

.special-programs-container {
  border-radius: 4%;
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}

.program-a {
  padding-left: 100px;
  padding-top: 30px;
  font-size: 28px ;
  padding-bottom: 35px;
  color: #006fd7;
  font-weight: bold;
}

.program-b {
  margin:auto;
  width: 90%;
  padding-left: 120px;
  text-indent: 60px;
  text-align: justify;
  font-size: 18px ;
  padding-bottom: 10px;
}

.general-p {
  padding-left: 260px;
  padding-right: 215px;
  font-size: 20px ;
  text-align: justify;
}

.vision-goal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
  width: 80%;
  margin: auto;
}

.vision-container,
.goal-container {
  margin-top: 59px;
  padding: 10px;
  margin: auto;
}

.h2-vision,
.h2-goal {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  color: #006fd7;
}

.p-vision,
.p-goal {
  font-size: 20px ;
  text-align: center;
}

/* Accordion */
.containerFluid {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}

.accordion {
  width: 80%;
  padding: 0 5px;
  border: 2px solid #6db5ff;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: auto;
  align-items: center;
}




.accordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px 7px #6db5ff;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;
}

.accordion h5 {
  font-size: 22px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  color: #1f5c9a;
}

.active {
  background-color: #6db5ff;
  color: #fff;
}

.active .icon {
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px -25px #fff;
}

.panel {
  margin-left: 155px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in;
}

/* Section A  */

.student-act {
  color: #006fd7;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.h2-academic {
  margin-top: 30px;
  padding-left: 50px;
}

.highschool-title {
  padding-left: 85px;
  padding-bottom: 10px;
  font-size: 30px;
  padding-top: 15px;
  color: #006fd7;
}

.li-academic {
  list-style-position: inside;
  width: 85%;
  padding-left: 90px;
  text-align: center;
  padding-bottom: 10px;
}

.li-academic li {
  text-align: left;
}

/* Section B */

.panel h2 {
  padding-left: 85px;
  color: #006fd7;
  padding-bottom: 5px;
  font-size: 30px;
  padding-top: 15px;
}

.section-description-p {
  padding-left: 85px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 150px;
}

.section-description-ul {
  list-style-position: inside;
  width: 85%;
  padding-left: 90px;
  padding-bottom: 10px;
}

.club-ul1,
.club-ul {
  list-style-position: inside;
  width: 85%;
  padding-left: 90px;
  padding-bottom: 20px;
}

/*            */
/*            */
/*            */
/*            */
/*            */

@media (max-width: 320px) {

  
  header .brand {
    font-size: 12px;
  }

  .image-overlay h2,.p-2
  {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  .special-programs-container {
    border-radius: 0;
    width: 85%;
  }

  #special-programs h1 
  {
    padding-bottom: 2px;
    padding-top: 7px;
  }

  .mobile-title
  {
    text-align: center;
    color: #006FD7;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    font-weight: bold;
    }

  .mobile-description
  {
    font-size: 11px;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
  }


 

  .program-a {
    font-size: 11px;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 5px;
    color: #006fd7;
    font-weight: bold;
    padding-top: 10px;
  }

  .program-b {
    font-size: 9px;
    padding-left: 8%;
    text-indent: 10%;
    text-align: justify;
  }

  .general-p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 10px;
  }

  #special-programs h1 {
    font-size: 17px;
    padding-top: 20px;
  }

  #special-programs h1:nth-child(3)
  {
    padding-bottom: 10px;
    color: #006fd7;
  }



  .accordion h5 {
    font-size: 95%;
  }

  .highschool-title
  {
    padding-left: 20px;
    font-size: 15px;
  }
  .li-academic 
  {
    padding-left: 20px;
    
  }

  .li-academic li {
    padding-left: -50px;
    text-align: left;
    padding-bottom: 0px;
  }

  .panel {
    margin-left: 50px;
  }

  .section-description-p {
    padding-right: 30px;
    padding-left: 20px;
    font-size: 15px;
  }

  .section-description-ul
  {
    padding-left:20px;
    font-size: 14px;
    text-align: left;
  }

  .club-ul1, .club-ul
  {
    padding-left: 20px;
  }

  .panel h2 {
    padding-right: 19px;
    padding-left: 20px;
    font-size: 15px;
    text-align: left;
  }

  .student-act
  {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }

}

/*            */
/*            */
/*            */
/*            */
/*            */

@media (min-width: 321px) and (max-width: 480px) {


  .image-overlay h2
  {
    font-size: 1.5rem;
  }
  
  header .brand 
  {
    font-size: 1.1rem;
  }

  .overlay-text-image h1 {
    font-size: 1rem;
  }

  .overlay-text-image h1:nth-child(1) 
  {
    font-size: 1.3rem;
  }

  .program-a {
    padding-left: 15px;
    padding-right: 15px;
    color: #006fd7;
    font-weight: bold;
    font-size: 20px;
  }

  .program-b {
    padding-left: 20px;
    text-indent: 30px;
    font-size: 16px;
  }

  .general-p {
    padding-left: 60px;
    padding-right: 60px;
  }

  .vision-goal-container {
    grid-gap: 20px;
  }

  .vision-container {
    width: 80%;
  }

  .p-vision {
    padding-left: 20px;
  }

  .p-goal {
    padding-left: 20px;
    font-size: 18px;
    text-align: justify;
  }

  .li-academic li {
    padding-left: -20px;
    text-align: left;
  }

  .section-description-p {
    padding-right: 70px;
  }

  .panel {
    margin-left: 50px;
  }

  .highschool-title {
    padding-right: 30px;
  }

  .student-act {
    padding-top: 30px;
  }

  .panel h2 {
    font-size: 25px;
    padding-right: 70px;
    white-space: normal;
    text-align: left;
  }

  .section-description-ul {
    padding-right: 25px;
    text-align: left;
  }

  #special-programs h1
  {
    font-size: 7vw;
  }

  .special-programs-container {
    border-radius: 0;
  }

  .vision-goal-container,
  .general-p {
    grid-template-columns: 1fr;
  }

  .vision-container,
  .goal-container {
    width: 80%;
    margin: 0 auto;
  }

  .mobile-title
  {
    text-align: center;
    color: #006FD7;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: bold;
    }

  .mobile-description
  {
    font-size: 18px;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
  }


}


/*            */
/*            */
/*            */
/*            */
/*            */



@media (min-width:481px) and (max-width:768px)
{

  .image-overlay h2
  {
    font-size: 1.95rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile-title
  {
    text-align: center;
    color: #006FD7;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 22px;
    font-weight: bold;
    }

  .mobile-description
  {
    font-size: 20px;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    text-align: justify;
  }
  #special-programs h1
  {
    font-size: 22px;
    padding-bottom: 15px;
  }

  .special-programs-container
  {
    border-radius: 0;
  }

  .program-a
  {
    padding-left: 1.5rem;
    padding-right: 1.2rem;
    color: #006fd7;
    font-size: 19px;
    font-weight: bold;
  }

  .program-b
  {
    padding-left: 1.5rem;
    font-size: 17px;
  }

  .vision-goal-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 80px;
  }

  .general-p
  {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }


  .highschool-title
  {
    padding-left: 90px ;
  }

  .panel
  {
    margin-left: 70px;
  }

  .panel h2 
  {
    padding-right: 1.25rem;
    text-align: left;
  }

  .li-academic 
  {
    padding-left: 90px;
  }
  

}




/*            */
/*            */
/*            */
/*            */
/*            */


@media (min-width:769px) and (max-width:1024px)
{

  .image-overlay h2
  {
    font-size: 2.1rem;
    padding-right: 30px;
    padding-left: 30px;
  }

  .program-a
  {
    padding-left: 30px;
  }
  
  .program-b
  {
    padding-left: 30px;
    padding-right: 0px;
  }

  .special-programs-container
  {
    border-radius: 1rem;
    width: 85%;
  }


  .vision-goal-container,
  .general-p {
    grid-template-rows: auto;
  }


  .student-act-container
  {
    padding-top: 30px;
  }

  .vision-container,
  .goal-container {
    width: 80%;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    height: auto;
  }

  .general-p
  {
    padding-left: 6rem;
    padding-right: 6rem;
  }

}

/*            */
/*            */
/*            */
/*            */
/*            */



@media (min-width:1025px) and (max-width:1200px)
{

  .image-overlay h2
  {
    font-size: 3rem;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .program-a
  {
    padding-left: 1.5rem;
  }


  .program-b
  {
    font-size: 1.3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .overlay-text-image h1
  {
    padding-right: 2.8rem;
    font-size: 2.5rem;
  }

  .vision-container
  {
    padding-left: 3rem;
    width: 90%;
  }

  .goal-container
  {
    padding-right: 3rem;
    width:90%
  }

}



/*            */
/*            */
/*            */
/*            */
/*            */


@media (min-width:1600px) and (max-width:1920px)
{


  .accordion
  {
    width: 50%;
  }

  .li-academic
  {
    padding-left: 450px;
  }

  .highschool-title
  {
    padding-left: 450px;
  }

  .panel h2 
  {
    padding-left: 450px;
  }

  .section-description-ul
  {
    padding-left: 450px;
  }

  .section-description-p
  {
    padding-left: 450px;
    padding-right: 550px;
  }

  .club-ul, .club-ul1
  {
    padding-left: 450px;
  }

  .vision-goal-container
  {
    width: 53%;
    margin: auto;
  }

  .p-vision
  {
    height: 50%;
  }
  .special-programs-container
  {
    width: 55%;
  }
  .image-overlay h2
  {
    font-size: 3.2vw;
    padding-right: 40px;
    padding-left: 40px;
  }

  .program-a
  {
    font-size: 1.25rem;
  }

  .program-b
  {
    font-size:1.1rem;
    padding-left: 20px;
  }

  #special-programs h1
  {
    font-size: 2.1vw;
    padding-bottom: 20px;
  }

  .general-p
  {
    font-size: 1.1rem;
    text-align: center;
    width: 72.5%;
    margin: auto;
  }

  .h2-vision , .h2-goal
  {
    font-size: 1.6rem;
  }

  .p-goal , .p-vision
  {
    font-size: 1.15rem;
  }

  .student-act
  {
    font-size: 2.1vw;
    padding-top: 20px;
  }

  .li-academic li
  {
    font-size:16px ;
  }

}

/*-------------------------------------------------------*/

footer{
  position: relative;
  width: 100%;
}

.f-container{
  display: flex;
  padding-top: 30px;
}

.a-firstsection{
  flex: .8;
  width: 500px;
  height: 400px;
  background-color: #00141C;
  padding: 80px 50px 30px 150px ;
}

.a-secondsection{
  flex: .8;
  width: 500px;
  height: 400px;
  background-color: #00141C;
  padding: 50px 50px 30px 30px ;
}

.a-thirdsection{
  flex: 1;
  width: 500px;
  height: 400px;
  background-color: #00141C;;
  padding: 50px 50px 30px 10px ;
}

@media (max-width: 1000px){
  .f-container{
      flex-direction: column;
      height: 500px;
  }

  .a-firstsection, .a-secondsection, .a-thirdsection{
      flex: 2;
      width: 100%;
      height: auto;
      padding: 50px 30px 30px 30px; /* Adjust padding for smaller screens */
      text-align: center; /* Center align content */
  }

 
  .a-thirdsection .info li {
    font-size: 10px; /* Adjust font size for smaller screens */
    text-align: center; /* Center align the text */
    align-items: center;
    justify-content: center;  
  }
}

.a-firstsection h2,
.a-secondsection h2,
.a-thirdsection h2{
  position: relative;
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 20px;
}


.a-firstsection ul {
  color: #fff;
  list-style-type: none; /* Remove default bullet points */
  padding: 20px 30px 30px 0px; /* Remove default padding */
  margin-left: 30px;
}

.a-firstsection ul li {
  display: inline-block; /* Display list items in a row */
  margin-right: 10px; /* Adjust spacing between list items */
}


.a-firstsection ul li img {
  width: 35px;
  height: 35px;
  background-color: #006FD7;
  padding: 5px;
  border-radius: 10px;
  transition: .5s;
}

.a-firstsection ul li img:hover{
  background-color: #00141C;
  transform: scale(1.2);
}



.a-secondsection ul{
  list-style-type: none; /* Remove default bullet points */
}

.a-secondsection ul a {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
  transition: .5s;
}

.a-secondsection ul a:hover{
  color: #006FD7;
  transform: scale(1.01);
}

.a-thirdsection .info {
  list-style-type: none; /* Remove default bullet points */
  text-decoration: none;
}

.a-thirdsection .info li {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Align items vertically */
  margin-bottom: 10px; /* Add margin between list items */

}

.a-thirdsection .info li span {
  margin-right: 10px; /* Add space between image and text */
}

.a-thirdsection .info li img {
  width: 25px;
  height: 25px;
}

.a-thirdsection .info li p a{
  margin: 0; /* Remove default margin from paragraph */
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  margin-left: 5px;
}

.a-thirdsection .pascu{
  width: 225px;
  height: 75px;
  margin-left: -7%;
  margin-top: 3%;
}

.copyRightText p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00141C;
  padding: 20px 100px 30px;
  text-align: center;
  border-top: .5px solid #414040;
}

.copyRightText .sitepolicy{
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.copyRightText .sitepolicy:hover{
  color: #006FD7;
}

.copyRightText p a{
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .copyRightText {
    position: relative;
    padding: 20px 0 30px; /* Adjust padding for smaller screens */
    font-size: 10px;
  }
}


/* Grid display for vision goal container  */ 
/* Grid display for vision goal container  */ 
/* Grid display for vision goal container  */ 
/* Grid display for vision goal container  */ 

@media (min-width:769px) and (max-width:1020px)
{


.mobile-title
  {
    text-align: center;
    color: #006FD7;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 25px;
    font-weight: bold;
    }

  .mobile-description
  {
    font-size: 20px;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    text-align: justify;
  }

}


@media (max-width:1020px)
{
  .vision-goal-container
  {
    display: none;
  }
}

@media (min-width:1021px) and (max-width:4000px)
{
  .mobile-vision-goal-container
  {
    display: none;
  }
}



/* button to top na mabangis */
.buttontop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #006FD7;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(160, 233, 255, 0.801);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed; /* Change this to fixed */
  bottom: 20px; /* Adjust the bottom position */
  right: 20px; /* Positioning it to the right */
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}


.hidden {
  display: none;
}

/* button to top na mabangis */



@media (min-width:320px) and (max-width:370px)
{
  .logo img 
  {
    width: 255px;
    height: 60px;
  }
}