body{
    padding: 100px;
}

.button {
    background-color: #006FD7;
}
#testimonials {
    background-color: #006FD7;
    text-align: center;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 3px solid #004281;
    border-radius: 30px;
}

.carousel-control-next-icon{
    background-color: #006FD7;
    border-radius: 50px;
}
.carousel-control-prev-icon{
    background-color: #006FD7;
    border-radius: 50px;
}

.carousel-item {
    padding: 7% 8%;
    color: white;

}
.carousel-item h2{
    color: #A9A9A9;
    font-size: 30px;
}

.carousel-item h1{
    margin-bottom:3%;
}


.open-button,
.open-button2,
.open-button3,
.open-button4,
.open-button5,
.open-button6,
.open-button7,
.open-button8 {
  justify-content: center;
  display: inline-block;
  padding: 7px 30px;
  border: none;
  background-color: white;
  color: #004281;
  font-size: 18px;
  font-weight: 600;
  border-radius: 99px;
  cursor: pointer;

}




#pricing {
    padding: 5%;
}

@media(max-width:1127px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}

/* modal */
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    position: fixed;
    width: 90%;
    max-width: 700px;
    background-color: white; 
    margin-top: -5px;
    padding-bottom: 10px;
    padding-top: 40px;
    margin-left: 20px;
    
  }
  .modal1, 
  .modal2,
  .modal3,
  .modal4,
  .modal5,
  .modal6,
  .modal7,
  .modal8 {

  width: 60%; /* Adjust width as desired */
  height: 60%; /* Adjust height as desired */
  max-width: 300vw; /* Set a maximum width */
  max-height: 400vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  text-align: justify;
  }
  .inside{
    margin: 10px 20px 10px 20px;
  }
