
#testimonials {
    background: #ef8172;
    text-align: center;
    background-color: #6fb9ff;
    color: #fff;
}


.carousel-item {
    padding: 7% 15%;
}

.carousel-item h1{
    margin-bottom:3%;
}

.carousel-item .open-button {
  justify-content: center;
  display: inline-block;
  padding: 7px 30px;
  border: none;
  background-color: #006FD7;
  color: whitesmoke;

  border-radius: 99px;
  cursor: pointer;

}

#pricing {
    padding: 5%;
}

@media(max-width:1127px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}

