@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@font-face {
  font-family: MontserratSemiBold;
  src: url(fonts/MontserratSemiBold.otf);
}
@font-face {
  font-family: MontserratSemiBoldItalic;
  src: url(fonts/MontserratSemiBoldItalic.otf);
}
@font-face {
  font-family: HaboroSansNormRegular;
  src: url(fonts/HaboroSansNormRegular.otf);
}

@font-face {
  font-family: HansboroSansItalic;
  src: url(fonts/HansboroSansItalic.otf);
}

@font-face {
  font-family: HeartyFont;
  src: url(fonts/HeartFont.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(fonts/MontserratRegular.otf);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #006FD7;
  box-shadow: 0 5px rgba (0,0,0,.1);
  padding: 10px 150px 10px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header.sticky {
  background-color: #006fd7; /* Background color on scroll */
  transition: .5s;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  position: relative;
  float: left;
  list-style: none;
}

header .navbar ul li a{
  font-size: 15px;
  padding: 18px;
  color: white;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

header .navbar ul li a:hover{
  background-color: #ffffff;
  color: #006fd7;
}

header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 350px;
  background: #ffffff;
  display: none;
  border-radius: 2px;
}

header .navbar ul li ul a{
  color: #006fd7;
  font-weight: 500;
}

header .navbar ul li ul a:hover{
  background-color: #006fd7;
  color: #ffffff;
}

header .navbar ul li ul li{
  width: 100%;

}

header .navbar ul li:hover > ul{
  display: initial;
}

@media (max-width: 1150px) {

  header{
    padding: 20px;
    background-color: #006FD7;
}

header .navbar {
  background: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 1px solid black;
  }


header .navbar ul li{
    width: 100%;
  }

  header .navbar ul li a{
    background: white;
    color: #222;
    font-size: 1.2em;
    margin: 20px;
}

header .navbar ul li ul{
    position: relative;
    width: 100%;
  }

.menu-btn {
    background: url(/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }

  .menu-btn.active ~ .navbar {
    display: initial;
  }
}
/* ------------------------------------------------------------------------------------------ */
.firstsection {
  width: 100%;
  height: 100vh;
}

.image {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(/resources/Images/Pic3.png);
  background-attachment: fixed;
}

.image-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  animation: fade-up 2s; /* Animation */
}

.apply-button{
  border-radius: 2px;
  border: none;
  width: 150px;
  padding: .7rem .7rem;
  font-weight: 600;
  background: #006fd7;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px; /* Add margin between buttons */
}

.readmore-button {
  border-radius: 2px;
  border: none;
  width: 150px;
  padding: .7rem .7rem;
  font-weight: 600;
  background: #ffffff;
  color: #006FD7;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px; /* Add margin between buttons */
}

.apply-button:hover, .readmore-button:hover {
  transform: scale(1.1);
}

  
  @media (max-width: 768px) {

    .image-overlay {
      font-size: 40px;
    }
  
    .apply-button {
      width: 170px;
      padding: .5rem .5rem;
      font-size: 17px;
    }

    .readmore-button {
      width: 170px;
      padding: .5rem .5rem;
      font-size: 17px;
    }

    .button{
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .image-overlay {
      font-size: 25px;
    }
  
    .apply-button {
      width: 150px;
      padding: .3rem .3rem;
      font-size: 14px;
    }

    .readmore-button {
      width: 150px;
      padding: .3rem .3rem;
      font-size: 14px;
    }

  }


  
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
    scale: (0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.image-overlay{
  animation: fade-up 2s;
}


/* -------------------------------------------------------------------------------------------- */

#scholarship 
{
  width: 1000px;
  margin: auto;
  align-items: center;
  padding-bottom: 30px;
}

.scholarship-title
{
  margin: auto;
  color: #006FD7;
  font-size: 40px;
  padding-bottom: 5px;
}

.scholarship-list li 
{
  padding-left: 30px;
  list-style: inside;
  font-weight: 600;
}

.scholarship-explain
{
  padding-left: 55px;
}



























/* -------------------------------------------------------------------------------------------- */
.secondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-bottom: 70px;
  }

  .container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    top: 50px;
  }

  .container .card{
    position: relative;
    height: 350px;
    background: #84c3ff;
    display: flex;
    width: 24.5%;
    margin: 10px 0px;
    border-radius: 20px;
    cursor: pointer;
  }

  .container .card .imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #006fd7;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
  }

  .container .card:hover .imgbx{
    width: 245px;
    height: 150px;
    top: calc(21% - 75px);
    transition: 0.5s ease-in-out;
    background-color: #0e3f6d;
    border-bottom-left-radius: 0px; /* Adjust the radius as needed */
    border-bottom-right-radius: 0px; 
  }

  .container .card .imgbx h1{
    color: #fff;
    transition: 0.5s ease-in-out;
  }

  .container .card:hover .imgbx h1{
    max-width: 300px;
    font-size:20px;
  }

  .container .card .content1{
    position: absolute;
    right: -5px;
    width: calc(100% - 50px);
    height: 50%;
    padding: 10px;
    display: flex;
    margin-top: 200px;
    font-weight: 500;
  }

  .container .card .content2{
    position: absolute;
    right: -23px;
    width: calc(100% - 50px);
    height: 50%;
    padding: 10px;
    display: flex;
    margin-top: 160px;
    font-weight: 500;
  }

  .container .card .content3{
    position: absolute;
    right: -23px;
    width: calc(100% - 50px);
    height: 50%;
    padding: 10px;
    display: flex;
    margin-top: 180px;
    font-weight: 500;
  }

  .container .card .content4{
    position: absolute;
    right: 20px;
    width: calc(100% - 50px);
    height: 50%;
    padding: 10px;
    display: flex;
    margin-top: 200px;
    font-weight: 500;
  }

  @media (max-width: 992px){
    .container{
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .container .card{
      width: 400px;
    }

    .container .card:hover .imgbx{
      width: 400px;
    }

    .container .card .content1{
      right: -75px;
    }
  
    .container .card .content2{
      right: -100px;
    }
  
    .container .card .content3{
      right: -100px;
    }
  
    .container .card .content4{
      right: -60px;
    }
  }

  @media (max-width: 768px){
    .container .card{
      width: 300px;
      flex-direction: column;
      height: auto;
    }

    .container .card .imgbx{
      position: relative;
    }

    .container .card .imgbx,
    .container .card:hover .imgbx{
      width: 100%;
      height: 200px;
      left: 0;
    }

    .container .card .imgbx h1,
    .container .card:hover .imgbx h1{
      max-width: 150px ;
      text-align: center;
    }

    .container .card:hover .imgbx h1{
      max-width: 200px;
      font-size:20px;
    }
  
    .container .card .content1{
      position: relative;
      width: 50%;
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .container .card .content2{
      position: relative;
      width: 50%;
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .container .card .content3{
      position: relative;
      width: 50%;
      margin-top: 50px;
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .container .card .content4{
      position: relative;
      width: 70%;
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
    }

  }

  /* ---------------------------------------------------------------------------------------------------------- */

  .thirdsection {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.thirdsection .firstsub {
    display: flex;
    flex-wrap: wrap;
}


.firstsub .box {
    background-color: rgb(255, 255, 255);
    text-align: justify;
    width: 100%; /* Adjust width for smaller screens */
    max-width: 1000px; /* Limit max width */

}

.box h1 {
    font-size: 10px;
    color: #006FD7;
    margin-bottom: 20px;
}

.box p {
    font-size: 20px;
}

/* Media query for tablets and smaller screens */
/* Media query for screens larger than 768px (tablets) up to 1024px (small desktops) */

@media (min-width: 768px) {
  .thirdsection .firstsub {
    flex-direction: column;
      align-items: center;
  }

  .firstsub .box {
      position: relative;
  }

  .box h1 {
      font-size: 70px;
  }
}

@media (max-width: 1024px) {
  .thirdsection .firstsub {
    flex-direction: column;
      align-items: center;
  }


  .firstsub .box {
      position: relative;
      margin-left: 0;
  }

  .box h1 {
      font-size: 35px;
  }
}


.thirdsection .secondsub {
  margin-top: 70px;
}

.thirdsection .secondsub .content {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 7%;
}

.content .first-content,
.content .second-content,
.content .third-content {
  width: 370px;
  background-color: rgb(206, 206, 206);
  padding: 50px;
  text-align: justify;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1); /* Box shadow properties */
}

.thirdsection .secondsub .content h1 {
  color: #006fd7;
  font-size: 22px;
  margin-bottom: 50px;
  text-align: center;
}

.thirdsection .secondsub .third-content h1 {
  margin-bottom: 80px;
}

.thirdsection .secondsub .content p {
  font-size: 14px;
  margin-bottom: 15px;
}

.thirdsection .secondsub .content ul li {
  font-weight: 500;
  text-align: left;
  color: #0E1D2B;
}

.content .first-content ul li {
  margin-bottom: 5px;
}

.content .second-content ul li,
.content .third-content ul li {
  margin-bottom: 10px;
}

/* Media query for tablets and smaller screens */
@media screen and (max-width: 1024px) {
  .thirdsection .secondsub .content {
    margin-left: 15%;
    flex-direction: row;
  }

  .content .first-content,
  .content .second-content,
  .content .third-content {
    width: 100%;
    padding: 40px;
    text-align: center;
    margin-left: -10%;
  }

  .thirdsection .secondsub .content ul li {
    list-style-type: none;
  }


  .thirdsection .secondsub .content h1 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .thirdsection .secondsub .third-content h1 {
    margin-bottom: 60px;
  }

  .thirdsection .secondsub .content p {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .thirdsection .secondsub .content {
    margin-left: 3%;
  }

  .content .first-content,
  .content .second-content,
  .content .third-content {
    width: 100%;
    padding: 50px;
    text-align: center;
    margin-left: 0px;
  }

  .thirdsection .secondsub .content ul li {
    list-style-type: none;
  }

  .thirdsection .secondsub .content h1 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .thirdsection .secondsub .third-content h1 {
    margin-bottom: 50px;
  }

  .thirdsection .secondsub .content p {
    font-size: 12px;
    margin-bottom: 8px;
  }
}


/*-------------------------------------------------------*/

footer{
  position: relative;
  width: 100%;
}

.f-container{
  display: flex;
}

.a-firstsection{
  flex: .8;
  width: 500px;
  height: 400px;
  background-color: #00141C;
  padding: 50px 50px 30px 150px ;
}

.a-secondsection{
  flex: .8;
  width: 500px;
  height: 400px;
  background-color: #00141C;
  padding: 50px 50px 30px 30px ;
}

.a-thirdsection{
  flex: 1;
  width: 500px;
  height: 400px;
  background-color: #00141C;;
  padding: 50px 50px 30px 10px ;
}

@media (max-width: 1000px){
  .f-container{
      flex-direction: column;
      height: 500px;
  }

  .a-firstsection, .a-secondsection, .a-thirdsection{
      flex: 2;
      width: 100%;
      height: auto;
      padding: 50px 30px 30px 30px; /* Adjust padding for smaller screens */
      text-align: center; /* Center align content */
  }

 
  .a-thirdsection .info li {
    font-size: 10px; /* Adjust font size for smaller screens */
    text-align: center; /* Center align the text */
    align-items: center;
    justify-content: center;  
  }
}

.a-firstsection h2,
.a-secondsection h2,
.a-thirdsection h2{
  position: relative;
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 20px;
}

.a-firstsection ul {
  color: #fff;
  list-style-type: none; /* Remove default bullet points */
  padding: 20px 30px 30px 0px; /* Remove default padding */
  margin-left: 30px;
}

.a-firstsection ul li {
  display: inline-block; /* Display list items in a row */
  margin-right: 10px; /* Adjust spacing between list items */
}


.a-firstsection ul li img {
  width: 35px;
  height: 35px;
  background-color: #006FD7;
  padding: 5px;
  border-radius: 10px;
  transition: .5s;
}

.a-firstsection ul li img:hover{
  background-color: #00141C;
  transform: scale(1.2);
}



.a-secondsection ul{
  list-style-type: none; /* Remove default bullet points */
}

.a-secondsection ul a {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
  transition: .5s;
}

.a-secondsection ul a:hover{
  color: #006FD7;
  transform: scale(1.01);
}

.a-thirdsection .info {
  list-style-type: none; /* Remove default bullet points */
  text-decoration: none;
}

.a-thirdsection .info li {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Align items vertically */
  margin-bottom: 10px; /* Add margin between list items */

}

.a-thirdsection .info li span {
  margin-right: 10px; /* Add space between image and text */
}

.a-thirdsection .info li img {
  width: 25px;
  height: 25px;
}

.a-thirdsection .info li p a{
  margin: 0; /* Remove default margin from paragraph */
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  margin-left: 5px;
}

.a-thirdsection .pascu{
  width: 225px;
  height: 75px;
  margin-left: -7%;
  margin-top: 3%;
}

.copyRightText p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00141C;
  padding: 20px 100px 30px;
  text-align: center;
  border-top: .5px solid #414040;
}

.copyRightText p a{
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.copyRightText p a:hover{
  color: #006FD7;
}

@media (max-width: 1000px) {
  .copyRightText {
    position: relative;
    padding: 20px 0 30px; /* Adjust padding for smaller screens */
    font-size: 10px;
  }
}



  
/* button to top na mabangis */
.buttontop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #006FD7;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(160, 233, 255, 0.801);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed; /* Change this to fixed */
  bottom: 20px; /* Adjust the bottom position */
  right: 20px; /* Positioning it to the right */
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}


.hidden {
  display: none;
}

/* button to top na mabangis */


@media (max-width: 320px)
{
  #scholarship
  {
    width: 70%;
  }

  .scholarship-title
  {
    font-size: 25px;
  }

}


@media (min-width: 321px) and (max-width: 480px)
{
  #scholarship
  {
    margin-left: 40px;
    width: 80%;
  }
  
}


@media (min-width: 481px) and (max-width: 560px)
{
  #scholarship
  {
    margin-left: 40px;
    width: 80%;
  }

}


@media (min-width: 561px) and (max-width: 768px)
{
  #scholarship
  {
    margin-left: 40px;
    width: 80%;
  }

}


@media (min-width: 769px) and (max-width: 1024px)
{
  #scholarship
  {
  }

}

@media (min-width: 1025px) and (max-width: 1366px)
{
  #scholarship
  {
    margin: auto;
  }

}